.direnv
dotfiles/emacs/eln-cache/
dotfiles/emacs/tldr/
/emacs/.config/emacs/eln-cache/
/emacs/.config/emacs/tree-sitter/
emacs/.config/emacs/.local/harpoon
nvim/.config/nvim/lua/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
emacs/.local/share/
